.container {
  display: flex;
}

.rooms {
  flex: 0 0 260px;
  padding: 0 30px;
}

.users {
  flex: 0 0 260px;
  padding: 0 30px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input {
  width: 600px;
}

.messages {
  overflow: auto;
  flex: 1;
}

.message {
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}
