.container {
  display: flex;
}

.rooms {
  flex: 0 0 260px;
  padding: 0 30px;
}

.users {
  flex: 0 0 260px;
  padding: 0 30px;
}

.input {
  width: 600px;
}

.message {
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}
